In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
%cd data

c:\Users\User\OneDrive - jbnu.ac.kr\문서\boot camp - study\github\hojeong-project\data

In [17]:
df = pd.read_csv('data1.csv',encoding='cp949')

In [5]:
df.head()

,기준년도,가입자 일련번호,처방내역일련번호,일련번호,성별코드,연령대코드(5세단위),시도코드,요양개시일자,약품일반성분명코드,1회 투약량,1일투약량,총투여일수,단가,금액,데이터 공개일자
0,2020,666668,5260626,2,1,11,43,2020-04-15,134103ATB,2.00,2,4,476.0,7616,2021-12-29
1,2020,666668,6859861,1,1,11,43,2020-04-03,146432ASS,20.00,2,3,14.0,1680,2021-12-29
2,2020,666668,769595,1,1,11,43,2020-11-25,451302ATB,0.25,2,7,53.0,186,2021-12-29
3,2020,666668,6859861,4,1,11,43,2020-04-03,185102ACH,1.00,1,3,30.0,90,2021-12-29
4,2020,666668,9307313,2,1,11,43,2020-01-30,260100ACR,1.00,1,3,302.0,906,2021-12-29

In [7]:
df2 = pd.read_csv('data2.csv',encoding='cp949')

In [8]:
df2.head()

,일반명코드,제형구분코드,제형,일반명,분류번호,투여,함량,단위
0,100101AGN,GN,"과립제,세립",상황균사체엑스,421,내복,1.1,g
1,100101ALQ,LQ,액제,상황균사체엑스,421,내복,1.1,g
2,100101APD,PD,산제,phellinus linteus mycelliun ext.,421,내복,1.1,g
3,100102ACH,CH,경질캡슐제,phellinus linteus mycelliun ext.,421,내복,0.55,g
4,100102ALQ,LQ,액제,phellinus linteus mycelliun ext.,421,내복,1.1,g(55mg/mL)

In [15]:
df3 = pd.read_csv('data3.csv',encoding='cp949')

In [11]:
df3.head(3)

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2020,666847,3243108,1,14,41,2020-12-21,3,1,I109,E1150,1,1,0.15,11540,1500,10040,30,2021-12-28
1,2020,666847,5512427,1,14,41,2020-10-20,3,1,I109,E1150,1,1,0.15,11540,1500,10040,30,2021-12-28
2,2020,666847,4023485,1,14,41,2020-11-18,3,1,I109,E1150,1,1,0.15,11540,1500,10040,30,2021-12-28

In [21]:
df4 = pd.read_csv('data4.csv',encoding='cp949')

In [30]:
df4 = df4[['상병기호','한글명','영문영']]
df4

,상병기호,한글명,영문영
0,A00,콜레라,Cholera
1,A000,비브리오 콜레라 01 콜레라형균에 의한 콜레라,Cholera due to Vibrio cholerae 01_ biovar chol...
2,A000,고전적 콜레라,Classical cholera
3,A001,비브리오 콜레라 01 엘토르형균에 의한 콜레라,Cholera due to Vibrio cholerae 01_ biovar eltor
4,A001,엘토르 콜레라,Cholera eltor
...,...,...,...
47793,Z992,신장투석상태,Renal dialysis status
47794,Z993,휠체어에 의존,Dependence on wheelchair
47795,Z994,인공심장에 의존,Dependence on artificial heart
47796,Z998,기타 기능성 기계 및 장치에 의존,Dependence on other enabling machines and devices
47797,Z999,상세불명의 기능성 기계 및 장치에 의존,Dependence on unspecified enabling machine and...

In [ ]:
df5

In [ ]:
df_new = pd.merge(df, df2, left_on = '약품일반성분명코드', right_on ='일반명코드', how = 'left')
df_new.head()

In [14]:
df = df[['가입자 일련번호', '처방내역일련번호', '일련번호', '성별코드', '연령대코드(5세단위)', '시도코드','약품일반성분명코드', '총투여일수', '단가', '금액']]

In [16]:
province_codes = {
    11: '서울특별시',
    26: '부산광역시',
    27: '대구광역시',
    28: '인천광역시',
    29: '광주광역시',
    30: '대전광역시',
    31: '울산광역시',
    36: '세종특별자치시',
    41: '경기도',
    42: '강원도',
    43: '충청북도',
    44: '충청남도',
    45: '전라북도',
    46: '전라남도',
    47: '경상북도',
    48: '경상남도',
    49: '제주특별자치도'
}

df['시도명'] = df['시도코드'].map(province_codes)
df['시도명']

0              충청북도
1              충청북도
2              충청북도
3              충청북도
4              충청북도
             ...
10923220    세종특별자치시
10923221    세종특별자치시
10923222    세종특별자치시
10923223    세종특별자치시
10923224    세종특별자치시
Name: 시도명, Length: 10923225, dtype: object

In [54]:
len(df['약품일반성분명코드'].unique())

2840

In [56]:
df2['일반명'].unique

일반명
nicotinamide                                     1152
ascorbic acid                                    1101
tocopherol acetate                               1094
riboflavin                                       1046
cyanocobalamin                                   1000
                                                 ...
egualen sodium                                      1
acyclovir(바이알)                                      1
chondroitin sulfate-iron complex (as Fe 30mg)       1
Levocetirizine HCl                                  1
centella titrated extract                           1
Name: count, Length: 7375, dtype: int64

In [92]:
df2['제형'].unique()

array(['과립제,세립 ', '액제 ', '산제 ', '경질캡슐제 ', '주사제 ', '정제,저작정 ', '장용정제 ',
       '서방형정제 ', '연질캡슐제 ', '엘릭서제 ', '연고제 ', '좌제 ', '현탁액제,현탁액용정제,현탁액용산제 ',
       '시럽제,건조시럽 ', '점안제', '크림제,겔제,젤리 ', '안연고제,점안겔제 ', '구강정 ', '로션제 ',
       '서방캡슐제 ', '분무제 및 흡입제 ', '트로키제 ', '확산정, 속붕정, 구강붕해정 ', '장용캡슐제 ',
       '에어로솔제 ', '기타제형 ', '패취제 ', '이식제 및 체내장치 ', '경고제,첩부제 ', '스폰지 및 드레싱 ',
       nan, '설하정 ', '카타플라스마제 ', '관류액 등 ', '포말 ', '틴크제 ', '서방형과립제 ',
       '페이스트제 ', '유제 ', '리니멘트제 ', '검사용', '환제 ', '연조엑스제 '], dtype=object)

In [95]:
# dfk = df2[df2['제형'].isin(['정제,저작정','연질캡슐제 ','경질캡슐제','과립제,세립','장용캡슐제 ','분무제 및 흡입제','기타제형 ','설하정'])]
# dfk['일반명'].value_counts()
# df2[df2['일반명코드']=='146432ASS']

일반명
tocopherol acetate                     460
ascorbic acid                          385
nicotinamide                           366
cyanocobalamin                         343
pyridoxine hydrochloride               288
                                      ...
cholecalciferol gr.                      1
cacium hydrogen phosphate dihydrate      1
caraway oil                              1
curcuma zanthorrhiza ext.                1
gamma-oryzanol                           1
Name: count, Length: 732, dtype: int64

In [9]:
df_new = pd.merge(df, df2, left_on = '약품일반성분명코드', right_on ='일반명코드', how = 'left')
df_new.head()

,가입자 일련번호,처방내역일련번호,일련번호,성별코드,연령대코드(5세단위),시도코드,약품일반성분명코드,총투여일수,단가,금액,시도명,일반명코드,제형구분코드,제형,일반명,분류번호,투여,함량,단위
0,666668,5260626,2,1,11,43,134103ATB,4,476.0,7616,충청북도,134103ATB,TB,"정제,저작정",ciprofloxacin hydrochloride (as ciprofloxacin),629.0,내복,0.25,g
1,666668,6859861,1,1,11,43,146432ASS,3,14.0,1680,충청북도,146432ASS,SS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237.0,내복,75,g(0.15g/mL)
2,666668,769595,1,1,11,43,451302ATB,7,53.0,186,충청북도,451302ATB,TB,"정제,저작정",chlorthalidone,213.0,내복,25,mg
3,666668,6859861,4,1,11,43,185102ACH,3,30.0,90,충청북도,185102ACH,CH,경질캡슐제,loperamide hydrochloride,237.0,내복,2,mg
4,666668,9307313,2,1,11,43,260100ACR,3,302.0,906,충청북도,260100ACR,CR,서방캡슐제,ebastine,141.0,내복,10,mg

In [10]:
df_new.isnull().sum()
df_new.dropna(inplace=True)

In [108]:
len(df_new['가입자 일련번호'].unique())

333333

In [110]:
df_new['연령대코드(5세단위)'].value_counts()

연령대코드(5세단위)
13    1320402
14    1228442
12    1127647
15    1088838
11     961893
16     958801
10     788530
1      753929
17     690245
9      640621
8      578524
2      531473
7      440251
6      431377
18     418208
5      341429
4      265048
3      241278
Name: count, dtype: int64

In [11]:
def age_level(age):
    if age == 1 or age == 2:
        result = '9세미만'
    elif age == 3 or age == 4:
        result = '10대'
    elif age == 5 or age == 6:
        result = '20대'
    elif age == 7 or age == 8:
        result = '30대'
    elif age == 9 or age == 10:
        result = '40대'
    elif age == 11 or age == 12:
        result = '50대'
    elif age == 13 or age == 14:
        result = '60대'
    elif age == 15 or age == 16:
        result = '70대'
    else:
        result = '80대'
    return result
        
df_new['연령대'] = df_new['연령대코드(5세단위)'].map(lambda x: age_level(x))
df_new['연령대'].value_counts()

연령대
60대     2548844
50대     2089540
70대     2047639
40대     1429151
9세미만    1285402
80대     1108453
30대     1018775
20대      772806
10대      506326
Name: count, dtype: int64

In [117]:
df_new['투여']

0           내복
1           내복
2           내복
3           내복
4           내복
           ...
12807768    내복
12807769    내복
12807770    내복
12807771    내복
12807772    내복
Name: 투여, Length: 12806936, dtype: object

In [14]:
df_new.head(2)

,가입자 일련번호,성별코드,연령대코드(5세단위),총투여일수,단가,금액,시도명,일반명코드,제형구분코드,제형,일반명,분류번호,함량,단위,연령대
0,666668,1,11,4,476.0,7616,충청북도,134103ATB,TB,"정제,저작정",ciprofloxacin hydrochloride (as ciprofloxacin),629.0,0.25,g,50대
1,666668,1,11,3,14.0,1680,충청북도,146432ASS,SS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237.0,75,g(0.15g/mL),50대

In [12]:
df_new = df_new[df_new['투여']=='내복 ']
df_new['분류번호'] = df_new['분류번호'].astype(int)
df_new.head(3)

,가입자 일련번호,처방내역일련번호,일련번호,성별코드,연령대코드(5세단위),시도코드,약품일반성분명코드,총투여일수,단가,금액,시도명,일반명코드,제형구분코드,제형,일반명,분류번호,투여,함량,단위,연령대
0,666668,5260626,2,1,11,43,134103ATB,4,476.0,7616,충청북도,134103ATB,TB,"정제,저작정",ciprofloxacin hydrochloride (as ciprofloxacin),629,내복,0.25,g,50대
1,666668,6859861,1,1,11,43,146432ASS,3,14.0,1680,충청북도,146432ASS,SS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,내복,75,g(0.15g/mL),50대
2,666668,769595,1,1,11,43,451302ATB,7,53.0,186,충청북도,451302ATB,TB,"정제,저작정",chlorthalidone,213,내복,25,mg,50대

In [13]:
df_new.columns

Index(['가입자 일련번호', '처방내역일련번호', '일련번호', '성별코드', '연령대코드(5세단위)', '시도코드',
       '약품일반성분명코드', '총투여일수', '단가', '금액', '시도명', '일반명코드', '제형구분코드', '제형', '일반명',
       '분류번호', '투여', '함량', '단위', '연령대'],
      dtype='object')

In [14]:
df_new.drop(['처방내역일련번호','일련번호','시도코드','약품일반성분명코드','제형구분코드','투여'],axis=1,inplace=True)

In [15]:
df_new['분류번호'].value_counts()

분류번호
222    1629263
114    1607869
232    1306241
141     803359
239     727613
        ...
642         59
623         43
231         17
244         13
129          1
Name: count, Length: 80, dtype: int64

In [33]:
df_new['연령대'].value_counts() # 60 50 70 40 많음

연령대
60대     2375070
50대     1942048
70대     1901111
40대     1323628
9세미만    1203357
80대     1037986
30대      935361
20대      696671
10대      460472
Name: count, dtype: int64

In [16]:
df_new.groupby('일반명')['연령대'].value_counts() # 약품 종류가 6915개 / 연령대별로 어떻게 많이 먹는지 확인

일반명                                     연령대
1% misoprostol powder (as misoprostol)  60대    469
                                        50대    457
                                        70대    408
                                        40대    279
                                        80대    241
                                              ...
자오가·우슬·방풍·두충·구척·흑두 dried ext.(20→1)     80대    753
                                        40대    607
                                        30대    284
                                        20대    129
                                        10대     29
Name: count, Length: 6915, dtype: int64

In [81]:
series_10 = df_new[df_new['연령대']=='10대'].groupby('분류번호')['일반명']
series_10

In [18]:
agelevel_name = df_new.groupby(['연령대','분류번호'])['일반명']

In [19]:
extracted_data= agelevel_name.apply(lambda x: x.head(3)) # 연령대별로 약별로 가장 많이 처방많이 받은약 3개씩 추출
extracted_data

연령대   분류번호
10대   112   28866             triazolam
            109888    zolpidem tartrate
            374579        flunitrazepam
      113   24888         carbamazepine
            374561           clonazepam
                            ...
9세미만  631   530822       oseltamivir
            540156       oseltamivir
      641   338925        metronidazole
            598842        metronidazole
            598859        metronidazole
Name: 일반명, Length: 1982, dtype: object

In [34]:
df_new['가입자 일련번호'].value_counts() # 326444명

가입자 일련번호
791711    2171
924007    1836
841511    1540
952857    1413
839342    1311
          ...
796929       1
773468       1
910502       1
863386       1
788125       1
Name: count, Length: 326444, dtype: int64

In [105]:
df3.head()

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2020,666847,3243108,1,14,41,2020-12-21,3,1,I109,E1150,1,1,0.15,11540,1500,10040,30,2021-12-28
1,2020,666847,5512427,1,14,41,2020-10-20,3,1,I109,E1150,1,1,0.15,11540,1500,10040,30,2021-12-28
2,2020,666847,4023485,1,14,41,2020-11-18,3,1,I109,E1150,1,1,0.15,11540,1500,10040,30,2021-12-28
3,2020,666890,4506728,2,16,41,2020-11-30,3,1,I109,E785,1,1,0.15,11540,1500,10040,90,2021-12-28
4,2020,666890,4498242,2,16,41,2020-11-09,3,1,I109,E785,1,1,0.15,11540,1500,10040,56,2021-12-28

In [94]:
data = pd.read_csv('TL.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_22360\1233360513.py:1: DtypeWarning: Columns (28,29,33,37,39,40,41,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('TL.csv')

In [115]:
data['item_seq']

0         196400046
1         196400046
2         196400046
3         196400046
4         196400046
            ...
971131    201405122
971132    201405122
971133    201405122
971134    201405122
971135    201405122
Name: item_seq, Length: 971136, dtype: int64

In [95]:
data.columns

Index(['Unnamed: 0', 'file_name', 'width', 'height', 'imgfile', 'drug_N',
       'drug_S', 'back_color', 'drug_dir', 'light_color', 'camera_la',
       'camera_lo', 'size', 'item_seq', 'leng_long', 'leng_short', 'thick',
       'id', 'dl_idx', 'dl_mapping_code', 'dl_name', 'dl_name_en', 'img_key',
       'dl_material', 'dl_material_en', 'dl_custom_shape', 'dl_company',
       'dl_company_en', 'di_company_mf', 'di_company_mf_en',
       'di_item_permit_date', 'di_class_no', 'di_etc_otc_code', 'di_edi_code',
       'chart', 'drug_shape', 'print_front', 'print_back', 'color_class1',
       'color_class2', 'line_front', 'line_back', 'img_regist_ts',
       'form_code_name', 'mark_code_front_anal', 'mark_code_back_anal',
       'mark_code_front_img', 'mark_code_back_img', 'mark_code_front',
       'mark_code_back', 'change_date'],
      dtype='object')

In [96]:
data = data[['file_name','drug_N','dl_idx','dl_name','dl_name_en','dl_material','dl_material_en',
              'dl_company','dl_company_en','di_class_no','item_seq','di_etc_otc_code','di_edi_code','chart',
              'drug_shape','print_front','print_back','color_class1','form_code_name']]

In [97]:
keys = ['file_name','drug_N','dl_idx','dl_name','dl_name_en','dl_material','dl_material_en','dl_company','dl_company_en','di_class_no','item_seq','di_etc_otc_code','di_edi_code','chart',
'drug_shape','print_front','print_back','color_class1','form_code_name']
values = ['파일이름','알약코드','알약 식별자','제품명','제품명(영어)','성분명','성분명(영어)','제조사명','제조사명(영어)','약품 분류','품목기준 코드','전문의약품 여부','EDI코드','제형',
'모양','식별문자(앞)','식별문자(뒤)','색상','정제 분류명']
my_dict = dict(zip(keys, values))

In [98]:
data = data.rename(columns=my_dict)
data.columns

Index(['파일이름', '알약코드', '알약 식별자', '제품명', '제품명(영어)', '성분명', '성분명(영어)', '제조사명',
       '제조사명(영어)', '약품 분류', '품목기준 코드', '전문의약품 여부', 'EDI코드', '제형', '모양',
       '식별문자(앞)', '식별문자(뒤)', '색상', '정제 분류명'],
      dtype='object')

In [68]:
data['성분명'].value_counts() # 445개 성분

성분명
트리메부틴말레산염                          22032
세티리진염산염                            21816
덱시부프로펜                             14256
아세트아미노펜                            12960
메트포르민염산염                           10368
                                   ...
트리프롤리딘염산염수화물|수도에페드린염산염              1296
엔테로코쿠스페슘스트레인세르넬레68균ME               1296
염화칼륨                                1296
에키나시아푸르푸레아 허바팅크|에키나시아푸르푸레아 뿌리팅크     1080
토피라메이트                              1080
Name: count, Length: 445, dtype: int64

In [63]:
data['EDI코드'].value_counts()

EDI코드
653700060              1296
641601050,A04304491    1296
662501000              1296
659900170,A84950061    1296
650000210,E00891241    1296
                       ...
642003090               768
628900220               704
628900220               592
642003090               528
644704260               128
Name: count, Length: 737, dtype: int64

In [64]:
data['품목기준 코드'].value_counts()

품목기준 코드
196400046    1296
200800691    1296
200603850    1296
200603879    1296
200605253    1296
             ...
201405122    1296
200907385    1080
199900925    1080
199701900    1080
200600543    1080
Name: count, Length: 750, dtype: int64

In [12]:
data['EDI코드'].value_counts()

NameError: name 'data' is not defined

In [34]:
df_new.head(3)

,가입자 일련번호,성별코드,연령대코드(5세단위),총투여일수,단가,금액,시도명,일반명코드,제형,일반명,분류번호,함량,단위,연령대
0,666668,1,11,4,476.0,7616,충청북도,134103ATB,"정제,저작정",ciprofloxacin hydrochloride (as ciprofloxacin),629,0.25,g,50대
1,666668,1,11,3,14.0,1680,충청북도,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),50대
2,666668,1,11,7,53.0,186,충청북도,451302ATB,"정제,저작정",chlorthalidone,213,25,mg,50대

In [ ]:
data['분류코드'] = data['약품 분류'].str[2:5]

In [ ]:
data['분류코드'].value_counts()

분류코드
114    182736
214     73872
396     58104
117     50544
141     49032
        ...
131      1296
254      1296
331      1296
312      1296
641      1296
Name: count, Length: 73, dtype: int64

In [123]:
df_new.groupby('분류번호')['일반명'].value_counts()

분류번호  일반명
112   zolpidem tartrate                             32132
      triazolam                                      6074
      flunitrazepam                                  3183
      doxepin hydrochloride (as doxepin)             1590
      eszopiclone                                     665
                                                    ...
821   naloxone hydrochloride                         1246
      tapentadol hydrochloride                        542
      fentanyl citrate (as fentanyl)                   85
      fentanyl citrate(micronized) (as fentanyl)       77
      tapentadol hydrochloride (as tapentadol)         75
Name: count, Length: 1094, dtype: int64

In [143]:
data[]

0               [02340]제산제
1               [02340]제산제
2               [02340]제산제
3               [02340]제산제
4               [02340]제산제
                ...
971131    [02190]기타의 순환계용약
971132    [02190]기타의 순환계용약
971133    [02190]기타의 순환계용약
971134    [02190]기타의 순환계용약
971135    [02190]기타의 순환계용약
Name: 약품 분류, Length: 971136, dtype: object

In [132]:
df_new[df_new['일반명코드']=='146432ASS']

,가입자 일련번호,성별코드,연령대코드(5세단위),총투여일수,단가,금액,시도명,일반명코드,제형,일반명,분류번호,함량,단위,연령대
1,666668,1,11,3,14.0,1680,충청북도,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),50대
1308,666712,2,2,2,14.0,840,경상남도,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),9세미만
5725,666825,2,9,3,13.0,117,충청남도,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),40대
5785,666830,1,2,3,13.0,780,경기도,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),9세미만
9648,666902,2,2,3,14.0,1260,경상북도,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),9세미만
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12781954,999365,2,2,2,13.0,780,경기도,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),9세미만
12795862,999702,2,2,3,14.0,1134,충청남도,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),9세미만
12798202,999769,1,17,3,13.0,117,세종특별자치시,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),80대
12798212,999769,1,17,3,13.0,117,세종특별자치시,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),80대
12804118,999914,1,1,2,14.0,336,대전광역시,146432ASS,"현탁액제,현탁액용정제,현탁액용산제",dioctahedral smectite,237,75,g(0.15g/mL),9세미만

In [137]:
data['제품명(영어)'] = data['제품명(영어)'].str[:-1]

In [142]:
data['제품명(영어)'].values

array(['Gelusam Tab', 'Gelusam Tab', 'Gelusam Tab', ...,
       'Duowell Tab. 80/10m', 'Duowell Tab. 80/10m',
       'Duowell Tab. 80/10m'], dtype=object)