In [1]:
%cd C:/Users/User/document/final_project/preprocessing/data

C:\Users\User\document\final_project\preprocessing\data

In [2]:
import pandas as pd
df = pd.read_csv('df_warning.csv')

In [6]:
df2 = pd.read_csv('df_warming.csv')

In [9]:
df3 = pd.read_csv('merge_df_tv.csv')

In [7]:
df2['제품코드A'].value_counts()

제품코드A
625900090    2904
658700030    2305
658700040    2305
653600540    1735
643301120    1735
             ...
653103710       1
59400070        1
654005770       1
60500240        1
665600111       1
Name: count, Length: 9443, dtype: int64

In [11]:
df3['di_edi_code']

0                           657500470
1                 650101140,A28302561
2                           642102330
3       644703770,653802290,A20753971
4       644703780,653802280,A20753981
                    ...
4519                        648507790
4520                        055100300
4521                        665507030
4522                        657203390
4523                        622803300
Name: di_edi_code, Length: 4524, dtype: object

In [11]:
df['제품코드B'].iloc[0]

'[674900280, 670700270, 53601580, 621804000, 622804160, 640904100, 641607150, 641907330, 642308280, 694002700, 642004480, 642803270, 643308440, 643605890, 643903740, 644503050, 645405650, 646004960, 647303880, 649605580, 650205420, 651602640, 53601570, 621804010, 622804150, 640904110, 641607140, 641907320, 642004470, 642308270, 642803260, 643308430, 643605900, 643903730, 644503140, 646004950, 645405640, 649605570, 650205430, 651602650, 651904850, 653006620, 657203530, 657806850, 658107960, 658603930, 663608010, 665507800, 668000150, 670702000, 671706190, 693202170, 693903180, 651904860, 653006520, 657203520, 657806860, 658603920, 658107950, 663608000, 665507820, 668000100, 670701950, 671706180, 693202180, 693903170, 694002710, 665002960]'

In [12]:
convert_to_list = lambda x: eval(x) if isinstance(x, str) else x
df['제품코드B'] = df['제품코드B'].apply(convert_to_list)
df['제품코드B']

0       [674900280, 670700270, 53601580, 621804000, 62...
1       [674900280, 670700270, 668000150, 670702000, 6...
2       [665507731, 694800091, 642305011, 645902651, 6...
3       [59000681, 642305011, 645902651, 646002281, 64...
4            [642703980, 642703980, 649402720, 649402720]
                              ...
9438    [650902081, 654004401, 657200821, 657801801, 6...
9439    [642900910, 644301990, 656700980, 674400920, 6...
9440         [646901850, 646901850, 658700040, 658700030]
9441    [59000681, 642305011, 645902651, 646002281, 64...
9442    [641900111, 644305923, 644901611, 641900121, 6...
Name: 제품코드B, Length: 9443, dtype: object

In [14]:
df['상세정보'] = df['상세정보'].apply(convert_to_list)
df['상세정보']

0       [xylometazoline의 전신 작용(고혈압 위험) 증강 또는 연장, xylom...
1       [xylometazoline의 전신 작용(고혈압 위험) 증강 또는 연장, xylom...
2       [중증의 위장관계 이상반응, 중증의 위장관계 이상반응, 중증의 위장관계 이상반응, ...
3       [중증의 위장관계 이상반응, 중증의 위장관계 이상반응, 중증의 위장관계 이상반응, ...
4       [횡문근융해와 같은 중증의 근육이상 보고, 횡문근융해와 같은 중증의 근육이상 보고,...
                              ...
9438    [중증의 위장관계 이상반응, 중증의 위장관계 이상반응, 중증의 위장관계 이상반응, ...
9439    [QTc 연장 효과 증대로 심각한 위험(Torsade de Pointes, 심각한 ...
9440    [위장 pH의 증가로 릴피비린의 흡수가 저하되어 릴피비린의 치료효과 감소, 위장 p...
9441    [중증의 위장관계 이상반응, 중증의 위장관계 이상반응, 중증의 위장관계 이상반응, ...
9442    [엽산 의존 대사 경로에서 구내염, 골수억제 및 신경독성과 같은 독성을 잠재적으로 ...
Name: 상세정보, Length: 9443, dtype: object

In [5]:
df2['제품코드A'].value_counts()

NameError: name 'df2' is not defined

In [37]:
df2['제품코드A'].iloc[0]

648101510

In [39]:
df2

,Unnamed: 0,제품코드A,제품코드B,상세정보,code조합
0,0,648101510,646002281,중증의 위장관계 이상반응,"['648101510', '646002281']"
1,1,648101510,647804481,중증의 위장관계 이상반응,"['648101510', '647804481']"
2,2,648101510,642305011,중증의 위장관계 이상반응,"['648101510', '642305011']"
3,3,648101510,59000681,중증의 위장관계 이상반응,"['648101510', '59000681']"
4,4,648101510,653400910,중증의 위장관계 이상반응,"['648101510', '653400910']"
...,...,...,...,...,...
1564057,1564057,653403230,641105840,Guanylate cyclase 자극제의 혈압강하작용 증가,"['653403230', '641105840']"
1564058,1564058,654004590,641105840,Guanylate cyclase 자극제의 혈압강하작용 증가,"['654004590', '641105840']"
1564059,1564059,655403650,641105840,Guanylate cyclase 자극제의 혈압강하작용 증가,"['655403650', '641105840']"
1564060,1564060,655604700,641105840,Guanylate cyclase 자극제의 혈압강하작용 증가,"['655604700', '641105840']"
1564061,1564061,656003820,641105840,Guanylate cyclase 자극제의 혈압강하작용 증가,"['656003820', '641105840']"

In [45]:
df[df['제품코드A']==648101510]['상세정보'].unique

<bound method Series.unique of 4159    [중증의 위장관계 이상반응, 중증의 위장관계 이상반응, 중증의 위장관계 이상반응, ...
Name: 상세정보, dtype: object>

In [23]:
len(df['상세정보'].iloc[50])

779